nav {
  display: flex;
  justify-content: center;
  // align-items: center;
}

.nav-space {
  width: 300px;
  justify-content: center;
  align-items: center;
}
#twitter img {
  display: none;
}
#alt {
  display: none;
}
a {
  text-decoration: none;
  color: #222222;
}

.left-hand-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 9999px;
}
